<h1>Hello {{$ctrl.name}}!</h1>
<p>
  Start editing <b>home/home.html</b> :)

<div ng-repeat="group in groups">
  <table class="table">
    <tbody>
      <tr ng-repeat="p in group.person track by p.id">
        <td>{{p.id}}</td>
        <td>{{group.grpId}}</td>
        <td><input type="text" ng-model="p.name"></td>
      </tr>
    </tbody>
  </table>
</div>


<div ng-repeat="group in reformattedArray">
  <div>{{group}}</div>
</div>  

<div>
  <div>{{model}}</div>
</div>  

<select ng-model="hasBafValue"
  ng-options="p.name for p in persons track by p.id">
</select>
<button ng-click="getNameId()">test</button>

</p>
<select class="form-control actionInputSize" id="adjType"
      ng-options="ad.id as ad.name for ad in persons"
      ng-model="massAdjustmentType">
</select>
<button ng-click="getPerson()">test</button>